@charset "utf-8";

article.article{width:100%;}
ul li{font-family:"Malgun Gothic"; letter-spacing:-1px;}
p{font-family:"Malgun Gothic"; letter-spacing:-1px;}
h2{font-size:36px;  font-family: 'NanumSquare'; text-align:center; font-weight:normal; color:#2c2c2c; letter-spacing:-1px;}
.inner{width:1200px; margin:0 auto; position:relative;}

/*visual*/
.visual{overflow:hidden; width:100%;}
.visual img{width:100%;}

/*main content section1*/
.main_content_section1{overflow:hidden;}
.main_content_section1 h2{margin-top:99px;}
.main_content_section1 span{display:block; width:286px; height:1px; background:#888888; margin:10px auto;}
.main_content_section1 .tab_menu{margin-top:50px; width:100%;}
.main_content_section1 .tab_menu ul.tabs{width:100%; font-size:0; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.main_content_section1 .tab_menu ul.tabs li{display:inline-block; font-size:16px; color:#2f2e2e; width:20%; text-align:center; border-bottom:1px; padding:20px 0; cursor:pointer; background:url(../image/main/arrow.png) no-repeat 80% 52%;}
.main_content_section1 .tab_menu ul.tabs li.select{background:#fca2ca url(../image/main/arrow2.png) no-repeat 80% 52%; color:#fff;}

.main_content_section1 .tab_menu .tab_content .inner_menu div{width:263px; height:325px; float:left; margin:45px 18px 0 18px; position:relative; cursor:pointer;}
.main_content_section1 .tab_menu .tab_content .inner_menu div p.image{text-align:center; display:block;}
.main_content_section1 .tab_menu .tab_content .inner_menu div h3{font-family:"Malgun Gothic"; font-size:18px; color:#393939; letter-spacing:-1px;}
.main_content_section1 .tab_menu .tab_content .inner_menu div p{font-size:16px; color:#6a6969; padding:10px 0;}
.main_content_section1 .tab_menu .tab_content .inner_menu div p + p{font-size:20px; color:#f6299d; padding:0;}
.main_content_section1 .tab_menu .tab_content .inner_menu div p + p + p{display:block; width:23px; height:23px; position:absolute; right:40px; bottom:5px;}
.main_content_section1 .tab_menu .tab_content .inner_menu div p + p + p + p{right:0; bottom:5px;}
.main_content_section1 .tab_menu .tab_content .inner_menu div span{width:100%; margin-top:200px; margin-bottom:20px;}

.main_content_section1 .tab_menu .tab_content .inner_menu div figure.snip1436 figcaption p{font-size:14px;}

/*main content section2*/
.main_content_section2{overflow:hidden;}
.main_content_section2 h2{margin-top:99px;}
.main_content_section2 span{width:119px; height:1px; background:#2c2c2c; margin:10px auto; display:block;}

.main_content_section2 .banner_section{margin-top:60px;}
.main_content_section2 .banner_section div{width:739px; float:left; overflow:hidden;}
.main_content_section2 .banner_section div img{width:100%;}
.main_content_section2 .banner_section div .box1{width:100%; height:249px; cursor:pointer;}
.main_content_section2 .banner_section div .box1 .bx-pager{display:none;}
.main_content_section2 .banner_section div .box1 a.bx-prev{display:none;}
.main_content_section2 .banner_section div .box1 a.bx-next{display:none;}
.main_content_section2 .banner_section div .box2{width:440px; height:249px; float:left; margin-top:22px; cursor:pointer;}
.main_content_section2 .banner_section div .box3{width:283px; height:249px; float:right; margin-top:22px; cursor:pointer;}

.main_content_section2 .banner_section div + div{width:439px; float:right; overflow:hidden;}
.main_content_section2 .banner_section div + div .box4{width:100%; height:249px; cursor:pointer;}
.main_content_section2 .banner_section div + div .box5{width:100%; height:249px; margin-top:22px; cursor:pointer;}

.main_content_section2 .banner_section .trans{transition: all 0.2s ease;}
.main_content_section2 .banner_section .trans:hover{transform: scale(1.07);}



/*main content section3*/
.main_content_section3{margin-top:177px; background:url(../image/main/zero.jpg) 60% 0 no-repeat fixed;  background-size:cover; width:100%; height:646px; overflow:hidden;}
.main_content_section3 .inner div{width:527px; float:right; margin-top:87px; margin-left:37px; position:relative;}
.main_content_section3 .inner div span{width:100%; height:1px; background:#f973af; display:block; margin:15px 0;}
.main_content_section3 .inner div h3{font-family:"Malgun Gothic"; font-size:30px; color:#4a494a; letter-spacing:-1px; font-weight:normal; margin:10px 0;}
.main_content_section3 .inner div p{font-size:16px; color:#4a4a4a; margin:10px 0; line-height:130%;}
.main_content_section3 .inner div p.more{width:71px; font-size:24px; color:#f973af; position:absolute; right:0; top:0;}
.main_content_section3 .inner div p.more span{background:none; width:7px; height:14px; margin:0; float:right;}

/*main content section4*/
.main_content_section4 {overflow:hidden;}
.main_content_section4 h2{margin-top:71px;}
.main_content_section4 p{text-align:center; margin:33px 0 61px 0;}
.main_content_section4 div{width:50%; height:330px; float:left; overflow:hidden; cursor:pointer;}
.main_content_section4 div figure.snip1384 figcaption h3{color:#fff; font-size:20px; font-weight:bold; font-family:"Malgun Gothic"; margin:0; padding:0; text-align:center;}
.main_content_section4 div figure.snip1384 figcaption p{color:#fff; font-size:14px; font-family:"Malgun Gothic"; margin-top:20px; line-height:130%;}
.main_content_section4 div > div{width:50%;}
.main_content_section4 div > div + div{background:#fff; position:relative;}
.main_content_section4 div > div + div h3{text-align:center; font-size:18px; font-family:"Malgun Gothic"; color:#272626; letter-spacing:-1px; font-weight:normal; line-height:130%; margin:41px 0 29px 0;}
.main_content_section4 div > div + div p{text-align:center; font-size:14px; margin:0; padding:0;}
.main_content_section4 div > div + div span{position:absolute; width:32px; height:32px; display:block; margin:0; padding:0; left:74px; top:109px;}
.main_content_section4 div > div + div span img{width:32px; height:32px;}
.main_content_section4 div > div + div p + p{font-size:14px; color:#545252; line-height:130%; margin-top:30px;}
.main_content_section4 div > div + div ul{text-align:center; margin-top:30px;}
.main_content_section4 div > div + div ul li{display:inline-block; vertical-align:middle; font-size:14px; color:#353535; font-weight:bold;}

.main_content_section4 div + div {overflow:hidden;}
.main_content_section4 div + div > div{width:50%; background:#fff; position:relative;}
.main_content_section4 div + div > div h3{text-align:center; font-size:18px; font-family:"Malgun Gothic"; color:#272626; letter-spacing:-1px; font-weight:normal; line-height:130%; margin:41px 0 29px 0;}
.main_content_section4 div + div > div p{text-align:center; font-size:14px; margin:0; padding:0;}
.main_content_section4 div + div > div span{position:absolute; width:32px; height:32px; display:block; margin:0; padding:0; left:74px; top:109px;}
.main_content_section4 div + div > div span img{width:32px; height:32px;}
.main_content_section4 div + div > div p + p{font-size:14px; color:#545252; line-height:130%; margin-top:30px;}
.main_content_section4 div + div > div ul{text-align:center; margin-top:13px;}
.main_content_section4 div + div > div ul li{display:inline-block; vertical-align:middle; font-size:14px; color:#353535; font-weight:bold;}


.main_content_section4 div + div + div{width:100%; height:197px;}
.main_content_section4 div + div + div > div{width:400px; height:197px; position:relative;}
.main_content_section4 div + div + div > div p{text-align:left; line-height:130%; margin:0 0 0 155px;}
.main_content_section4 div + div + div > div p.image{display:block; width:151px; height:197px; position:absolute; left:0; margin:0;}
.main_content_section4 div + div + div > div p + p{margin-top:56px; color:#343434;}
.main_content_section4 div + div + div > div p + p + p{margin-top:10px; color:#5b5b5b;}
.main_content_section4 div + div + div > div p + p + p + p{margin-top:2px;}

.main_content_section4 div + div + div > div + div{width:400px; height:197px;}
.main_content_section4 div + div + div > div + div + div{width:400px; height:197px;}

/*center*/
.center{height:172px; margin-top:73px;}
.center div{width:24.8%; float:left; }
.center .center1{height:172px; background:url(../image/main/center_icon1.png) no-repeat 87% 50%; border-top:1px solid #ddd; border-bottom:1px solid #ddd; border-left:1px solid #ddd;}
.center div h3{font-size:24px; font-family:"Malgun Gothic"; color:#242424; font-weight:normal; margin:15px 0 0 15px;}
.center div p{font-size:14px; color:#595959; margin-left:15px; margin-top:4px;}
.center div p + p{font-size:24px; color:#242424; margin-left:15px; margin-top:10px;}
.center div p + p + p{font-size:18px; color:#242424; font-weight:bold; margin-left:15px; margin-top:4px;}
.center div p + p + p + p{font-size:14px; color:#595959; line-height:120%; font-weight:normal; margin-top:10px;}

.center .center2{height:172px; background:url(../image/main/center_icon2.png) no-repeat 87% 50%; border-top:1px solid #ddd; border-bottom:1px solid #ddd; border-left:1px solid #ddd;}
.center div + div p + p{font-size:18px; color:#242424;}
.center div + div p + p + p{font-weight:bold;}


.center .center3{height:172px; background:url(../image/main/center_icon3.png) no-repeat 87% 50%; border-top:1px solid #ddd; border-bottom:1px solid #ddd; border-left:1px solid #ddd;}
.center .center4{height:172px; background:url(../image/main/center_icon4.png) no-repeat 87% 50%; border-top:1px solid #ddd; border-bottom:1px solid #ddd; border-left:1px solid #ddd;}
.center .center4{height:172px; border-right:1px solid #ddd;}

/*footer*/
.footer{margin-top:84px;}
.footer .top_footer{border-top:1px solid #ddd; border-bottom:1px solid #ddd; width:100%; height:50px; overflow:hidden;}
.footer .top_footer p{float:left; padding-top:17px; font-size:14px; color:#2a2a2a; font-weight:bold;}
.footer .top_footer .banner{float:left; width:350px; height:50px; margin-top:15px;}
.footer .top_footer .banner ul li{height:20px;}
.footer .top_footer .banner ul li a{font-weight:normal; color:#4a4949; margin-left:15px; font-size:14px;}
.footer .top_footer p + p a{color:#2a2a2a; font-weight:bold; margin-left:63px;}
.footer .top_footer select{float:right; width:150px; height:50px; color:#4a4949; background:#fff url(../image/main/bullet3.png) no-repeat 90% 50%;}
.footer .inner_footer{width:100%; height:390px; background:#e7e7e7;}

.footer .inner_footer ul{text-align:center; padding-top:35px;}
.footer .inner_footer ul li{display:inline-block; font-size:14px; color:#3d3d3d;}
.footer .inner_footer ul li.bold{font-weight:bold;}
.footer .inner_footer ul li a{color:#3d3d3d;}
.footer .inner_footer ul + ul{padding-top:26px;}
.footer .inner_footer p{text-align:center; font-size:14px; color:#3d3d3d; line-height:150%; padding-top:22px;}
.footer .inner_footer .btn2{width:212px; height:26px; margin:10px auto;}
.footer .inner_footer .btn2 p{float:left; display:block; width:100px; height:26px; padding:0; border:1px solid #adadad; cursor:pointer; margin-right:2px; font-size:13px; text-align:center;}
.footer .inner_footer .btn2 p + p{margin-right:0;}
.footer .inner_footer p.copyright{padding:0;}



