@charset "utf-8";
 /*공통*/
@media screen and (max-width:1024px){ 
    .inner{width:100%;}
}

/*header*/
@media screen and (max-width:1024px){ 
	.inner_header h1{top:10px; z-index:9999999;}
	.inner_header h1 img{display:block; width:60px;}
	.inner_header{height:57px;}
	.inner_header .inner nav ul{display:none;}
}

/*footer*/
@media screen and (max-width:1364px){
.footer_section{height:auto;}
.footer_section p{float:none; text-align:center;}
.footer_section p + p{padding:15px 0; margin:0 auto;}
.footer_section ul {text-align:center; float:none; margin-top:0; margin-bottom:15px;}
}

@media screen and (max-width:568px){
.footer_section p{font-size:13px;}
.footer_section p + p{width:80%; line-height:130%;}
.footer_section p img{width:70px;}
.footer_section ul li{ font-size:13px; padding: 10px 6px;}
}


/****************************main page************************************/

/*visual*/
@media screen and (max-width:1024px){ 
.visual > span{display:block;}
.visual > img{display:none;}
.visual h2 img{display:block; margin:30px auto;}
.visual h2{font-size:62px; top:20%;}
.visual h2 span{font-size:50px;}
}

@media screen and (max-width:780px){ 
.visual h2{font-size:52px; top:18%;}
.visual h2 span{font-size:40px;}
}

@media screen and (max-width:580px){ 
.visual h2{font-size:42px;}
.visual h2 span{font-size:30px;}
}

@media screen and (max-width:420px){
.visual h2{font-size:32px;}
.visual h2 span{font-size:25px;}
}

@media screen and (max-width:360px){
.visual h2{font-size:28px;}
}
@media screen and (max-width:320px){
.visual h2{font-size:25px;}
}


/*content_section1*/
@media screen and (max-width:1024px){ 
.main_content_section1{margin-top:100px;}
.main_content_section1 div{width:45%; height:310px; margin-right:2.5%; margin-left:2.5%; }
.main_content_section1 div > div{width:100%; height:145px; margin:0;}
.main_content_section1 div > div span.info{width:95%; height:100%;}
.main_content_section1 div > div span.info p{font-size:16px; margin-left:22px;}

.main_content_section1 div + div{margin-left:2.5%; margin-right:2.5%; border-bottom:1px solid #5da318;}
}

@media screen and (max-width:930px){
.main_content_section1 div > div span.info h3{padding:18px 0 18px 18px;}
.main_content_section1 div > div span.info span{margin:0 0 13px 18px;}
.main_content_section1 div > div span.info p{line-height:130%; margin-left:17px;}
.main_content_section1 div > div span.info p + p{right:13px; bottom:13px; width:32px; height:32px;}
}

@media screen and (max-width:858px){
.main_content_section1 div{height:270px;}
.main_content_section1 div > div span.info p{font-size:14px;}
.main_content_section1 div > div span.info p + p{right:5px; bottom:10px; width:28px; height:28px;}
.main_content_section1 div > div{height:125px;}
}

@media screen and (max-width:764px){
.main_content_section1{margin-top:70px;}
.main_content_section1 div{height:260px;}
.main_content_section1 div > div span.info h3{padding:15px 0 15px 12px;}
.main_content_section1 div > div span.info span{margin:0 0 9px 12px;}
.main_content_section1 div > div span.info p{line-height:130%; margin-left:12px;}
.main_content_section1 div > div span.info p + p{right:5px; bottom:10px; width:20px; height:20px;}
}

@media screen and (max-width:630px){
.main_content_section1 div{height:240px;}
.main_content_section1 div > div span.info p + p{display:none;}
}

@media screen and (max-width:598px){
.main_content_section1 div{height:230px;}
.main_content_section1 div > div span.info p{letter-spacing:-2px;}
}

@media screen and (max-width:524px){
.main_content_section1 div{height:220px;}
.main_content_section1 div > div span.info p{font-size:13px;}
}

@media screen and (max-width:480px){
.main_content_section1 div{height:210px;}
.main_content_section1 div > div span.info p br{display:none;}
}

@media screen and (max-width:420px){
.main_content_section1 div{width:95%; height:250px; margin:0 2.5% 50px 2.5%;}
.main_content_section1 div + div{margin:0 2.5%;}
.main_content_section1 div > div{height: 110px;}
.main_content_section1 div > div span.info p br{display:block;}
}
@media screen and (max-width:360px){
.main_content_section1 div{height:240px;}
}

@media screen and (max-width:320px){
.main_content_section1 div{height:225px;}
}

/*content section2*/
@media screen and (max-width:1024px){
.main_content_section2{margin-top:100px;}
.main_content_section2 h2{font-size:36px; margin-left:2.5%;}
.main_content_section2  > span{margin-left:2.5%; max-width:95%; margin-bottom:30px;}
.main_content_section2 .gallary .box3 div h3{font-size:30px;}
.main_content_section2 .gallary{width:95%; margin:0 auto;}
.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:250px; left:7%; font-size:14px; letter-spacing:-2px; }
}

@media screen and (max-width:864px){
.main_content_section2 .gallary .box3 div {top:90px;}
.main_content_section2 .gallary .box3 div h3{font-size:27px;}
.main_content_section2 .gallary .box1 h3,
.main_content_section2 .gallary .box2 h3,
.main_content_section2 .gallary .box4 h3,
.main_content_section2 .gallary .box5 h3{font-size:20px;}
.main_content_section2 .gallary .box2 span{top:6%;}
.main_content_section2 .gallary .box4 span{top:6%;}

.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:240px; left:2%; font-size:13px;}
}

@media screen and (max-width:764px){
.main_content_section2{margin-top:70px;}
}

@media screen and (max-width:730px){
.main_content_section2 .gallary .box3 div {top:75px;}
.main_content_section2 .gallary .box3 div h3{font-size:24px;}
.main_content_section2 .gallary .box1 p br,
.main_content_section2 .gallary .box2 p br,
.main_content_section2 .gallary .box4 p br,
.main_content_section2 .gallary .box5 p br{display:none;}

.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:190px;}
}

@media screen and (max-width:680px){
.main_content_section2 h2{font-size:30px;}
.main_content_section2 .gallary .box3 div h3{font-size:20px;}

.main_content_section2 .gallary .box1 h3,
.main_content_section2 .gallary .box2 h3,
.main_content_section2 .gallary .box4 h3,
.main_content_section2 .gallary .box5 h3{font-size:16px;}

.main_content_section2 .gallary .box2 span{top:4%;}
.main_content_section2 .gallary .box4 span{top:4%;}

.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:170px;}
}

@media screen and (max-width:580px){
.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:150px;}
}

@media screen and (max-width:542px){
.main_content_section2{margin-top:50px;}
.main_content_section2 > span{margin-top:12px; margin-bottom:20px;}

.main_content_section2 .gallary .box1 h3,
.main_content_section2 .gallary .box2 h3,
.main_content_section2 .gallary .box4 h3,
.main_content_section2 .gallary .box5 h3{font-size:14px;}

.main_content_section2 .gallary .box2 span{top:2%;}
.main_content_section2 .gallary .box4 span{top:2%;}

.main_content_section2 .gallary .box3 div {top:65px;}
.main_content_section2 .gallary .box3 div h3{font-size:18px;}

.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:130px;}

.main_content_section2 .gallary .box1:hover{box-shadow:0 -140px 0 0 rgba(255, 79, 48,0.5) inset;}
}

@media screen and (max-width:480px){
.main_content_section2 .gallary .box3 div {top:55px;}
.main_content_section2 .gallary .box3 div h3{font-size:15px;}

.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:120px;}

.main_content_section2 .gallary .box4:hover{box-shadow:0 -140px 0 0 rgba(0, 91, 42,0.5) inset;}
}

@media screen and (max-width:420px){
.main_content_section2 .gallary div{float:left; width:100%; margin:0;}

.main_content_section2 .gallary .box1,
.main_content_section2 .gallary .box2,
.main_content_section2 .gallary .box4,
.main_content_section2 .gallary .box5{width:47.5%;}

.main_content_section2 .gallary .box1,
.main_content_section2 .gallary .box4{margin-right:2.5%;}
.main_content_section2 .gallary .box2,
.main_content_section2 .gallary .box5{margin-left:2.5%;}

.main_content_section2 .gallary .box3{display:none;}
.main_content_section2 .gallary .box3_2{display:block;}

.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:180px;}
}

@media screen and (max-width:360px){
.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:155px;}
}

@media screen and (max-width:320px){
.main_content_section2 .gallary .box1 p,
.main_content_section2 .gallary .box2 p,
.main_content_section2 .gallary .box4 p,
.main_content_section2 .gallary .box5 p{width:140px;}

.main_content_section2 .gallary .box3_2 div{top:50px;}
.main_content_section2 .gallary .box3_2 div h3{font-size:20px;}
}

/*content_section3*/
@media screen and (max-width:1024px){
.main_content_section3 {margin-top:100px;}
.main_content_section3 h2{font-size:36px; margin-left:2.5%;}
.main_content_section3 .news{width:95%; margin:0 auto;}
.main_content_section3 .news h3{font-size:20px;}

.main_content_section3 .news .news1 p{width:75%;}
.main_content_section3 .news .news2 p{width:75%;}
.main_content_section3 .news .news3 p{width:75%;}
}

@media screen and (max-width:680px){
.main_content_section3 h2{font-size:30px;}
}

@media screen and (max-width:580px){
.main_content_section3 .news h3{font-size:16px; margin:24px 0 0 10px;}
.main_content_section3 .news .news1 > span{margin:15px 0 0 10px;}
.main_content_section3 .news .news1 .cl-effect-10 a span{font-size:16px; padding-top:30px; padding-right:10px; }
.main_content_section3 .news .news2 > span{margin:15px 0 0 10px;}
.main_content_section3 .news .news2 .cl-effect-10 a span{font-size:16px; padding-top:30px; padding-right:10px; }
.main_content_section3 .news .news3 > span{margin:15px 0 0 10px;}
.main_content_section3 .news .news3 .cl-effect-10 a span{font-size:16px; padding-top:30px; padding-right:10px; }

.main_content_section3 .news .news1 p{width:90%;}
.main_content_section3 .news .news2 p{width:90%;}
.main_content_section3 .news .news3 p{width:90%;}
}

@media screen and (max-width:542px){
.main_content_section3 .news .news1 .cl-effect-10 a span{width:100%; background:#3fd4ef;}
.main_content_section3 .news .news2 .cl-effect-10 a span{width:100%; background:#fdab2a;}
.main_content_section3 .news .news3 .cl-effect-10 a span{width:100%;  background:#f55379;}

.main_content_section3{margin-top:50px;}
}

@media screen and (max-width:480px){
.main_content_section3 .news h3{font-size:14px;}
.main_content_section3 .news .news1 .cl-effect-10 a span{font-size:14px; padding-top:30px; padding-right:3px; }
.main_content_section3 .news .news2 .cl-effect-10 a span{font-size:14px; padding-top:30px; padding-right:3px; }
.main_content_section3 .news .news3 .cl-effect-10 a span{font-size:14px; padding-top:30px; padding-right:3px; }
}

@media screen and (max-width:420px){
.main_content_section3 .news h3{font-size:20px;}
.main_content_section3 .news .news1,
.main_content_section3 .news .news2,
.main_content_section3 .news .news3{width:100%;  height:250px; margin:20px 0;}

.main_content_section3 .news .news1 p{width:60%;}
.main_content_section3 .news .news2 p{width:60%;}
.main_content_section3 .news .news3 p{width:60%;}

.main_content_section3 .news .news1 .cl-effect-10 a span{font-size:18px; padding-right:10px; }
.main_content_section3 .news .news2 .cl-effect-10 a span{font-size:18px; padding-right:10px; }
.main_content_section3 .news .news3 .cl-effect-10 a span{font-size:18px; padding-right:10px; }

.main_content_section3 .news .news1 .cl-effect-10 a span{width:100%; background:#3fd4ef url(../image/main/section3_icon1.jpg) no-repeat;}
.main_content_section3 .news .news2 .cl-effect-10 a span{width:100%; background:#fdab2a url(../image/main/section3_icon2.jpg) no-repeat;}
.main_content_section3 .news .news3 .cl-effect-10 a span{width:100%;  background:#f55379 url(../image/main/section3_icon3.jpg) no-repeat;}
}

@media screen and (max-width:360px){
.main_content_section3 .news h3{font-size:16px;}
.main_content_section3 .news .news1,
.main_content_section3 .news .news2,
.main_content_section3 .news .news3{margin:15px 0;}

.main_content_section3 .news .news1 .cl-effect-10 a span{font-size:14px;}
.main_content_section3 .news .news2 .cl-effect-10 a span{font-size:14px;}
.main_content_section3 .news .news3 .cl-effect-10 a span{font-size:14px;}
}


/*content_section4*/
@media screen and (max-width:1024px){
.main_content_section4 .back{margin-top:100px;}
.main_content_section4 .back .inner .section4_content{width:95%; margin:10px auto 80px;}
.main_content_section4 .back .inner .section4_content div + div img{margin:5.5% auto; width:85%;}
}

@media screen and (max-width:628px){
.main_content_section4 .back .inner p{padding-top:70px; width:95%; display:block; margin:0 auto;}
.main_content_section4 .back .inner p img{width:100%;}
}

@media screen and (max-width:620px){
.main_content_section4 .back .inner .section4_content div{float:none; width:100%;}
.embed-container{padding-bottom:70%;}
}

@media screen and (max-width:542px){
.main_content_section4 .back{margin-top:50px;}
}

@media screen and (max-width:360px){
.main_content_section4 .back .inner .section4_content{margin:10px auto 60px;}
.main_content_section4 .back .inner p{padding-top:50px;}
}


/*content section5*/
@media screen and (max-width:1024px){
.main_content_section5 div{margin:153px auto;}
.main_content_section5 div > div{height:340px;}
}

@media screen and (max-width:940px){
.main_content_section5 div{margin:143px auto;}
.main_content_section5 div > div{height:300px;}
.main_content_section5 .info2 span.info2_inner h3{font-size:18px; padding:15px 0 10px 0;}
.main_content_section5 .info2 span.info2_inner p{padding:5px 0 5px 0;}
.main_content_section5 .info2 span.info2_inner p + p{padding:0;}
.main_content_section5 div > div .info2{min-height:150px; height:163px;}

}

@media screen and (max-width:810px){
.main_content_section5 div{margin:133px auto;}
.main_content_section5 div > div{height:280px;}
.main_content_section5 .info2{height:auto;}
.main_content_section5 .info2 span.info2_inner h3{font-size:16px; padding:15px 0 10px 0;}
}

@media screen and (max-width:700px){
.main_content_section5 div{margin:113px auto;}
.main_content_section5 div > div{height:270px;}
.main_content_section5 .info2 span.info2_inner h3{line-height:130%;}
}

@media screen and (max-width:620px){
.main_content_section5 div{margin:90px auto;}
.main_content_section5 div > div{width:100%; height:auto; margin:0 0 30px 0; padding:0;}
.main_content_section5 div > div .info2{width:50%; height:100%; position:absolute; right:0; margin:0; padding:0;}
.main_content_section5 div > div .info2 span.info2_inne{height:100%:}
}

@media screen and (max-width:480px){
.main_content_section5 div{margin:60px auto;}
.main_content_section5 .info2 span.info2_inner h3{font-size:14px; padding:35px 0 10px 0;}
}

@media screen and (max-width:368px){
.main_content_section5 .info2 span.info2_inner h3{padding:45px 0 10px 0; letter-spacing:-2px;}
}

@media screen and (max-width:328px){
.main_content_section5 .info2 span.info2_inner h3{padding:55px 0 5px 0;}
.main_content_section5 .info2 span.info2_inner p{ font-size:13px; padding:5px 0 0 0;}
}

/*****************************sub page***************************************/
/*공통*/
@media screen and (max-width:1024px){
.sub_inner{width:95%;}
}


/*visual sub*/
@media screen and (max-width:1024px){
.visual_sub > img{display:none;}
.visual_sub > span{display:block;}
.visual_sub p,
.visual_sub h2{margin-left:2.5%;}
}

@media screen and (max-width:620px){
.visual_sub h2{display:block; width:100%; font-size:40px;}
}

@media screen and (max-width:512px){
.visual_sub p{bottom:300px; }
.visual_sub h2{font-size:36px;}
}

@media screen and (max-width:458px){
.visual_sub p{bottom:280px; }
.visual_sub h2{font-size:30px;}
}

@media screen and (max-width:380px){
.visual_sub h2{font-size:28px;}
}

@media screen and (max-width:328px){
.visual_sub h2{font-size:25px; bottom:210px;}
}

/*sub content section1*/
@media screen and (max-width:948px){
.sub_content_section1 .section1_txt p br{display:none;}
}

@media screen and (max-width:680px){
.sub_content_section1{margin-top:22px;}
.sub_content_section1 h2{font-size:30px;}
.sub_content_section1 p{font-size:16px;}
.sub_content_section1 .section1_txt p{font-size:14px;}
}

@media screen and (max-width:380px){
.sub_content_section1 h2{font-size:24px;}
.sub_content_section1 p{font-size:14px;}
.sub_content_section1 .section1_txt{margin-top:34px;}
}

/*sub content section2*/
@media screen and (max-width:810px){
.sub_content_section2{margin-top:69px;}
.sub_content_section2 > span{margin-bottom:21px;}
.sub_content_section2 h3{margin-bottom:21px;}
}

@media screen and (max-width:680px){
.sub_content_section2 p + p{font-size:14px; margin-top:21px;}
}

@media screen and (max-width:480px){
.sub_content_section2{margin-top:49px;}
}

@media screen and (max-width:380px){
.sub_content_section2 h3{font-size:20px;  padding:15px 0 0 10px;}
}

/*sub content section3*/
@media screen and (max-width:1024px){
.sub_content_section3 > p{width:70%;}
.sub_content_section3 > p br{display:none;}
}

@media screen and (max-width:910px){
.sub_content_section3 h3{float:none; margin-bottom:20px;}
.sub_content_section3 > p{width:100%;}
}

@media screen and (max-width:680px){
.sub_content_section3{margin-top:51px;}
.sub_content_section3 > p{font-size:14px;}
}

@media screen and (max-width:380px){
.sub_content_section3 h3{font-size:20px;}
.sub_content_section3 p + p{width:100%; margin:0; padding-top:21px;}
.sub_content_section3 p + p + p{width:100%;}
}

/*sub content section4*/
@media screen and (max-width:910px){
.sub_content_section4 p br{display:none;}
.sub_content_section4 p + p + p br{display:none;}
}

@media screen and (max-width:680px){
.sub_content_section4 .sub_inner{margin-top:59px;}
.sub_content_section4 p{font-size:14px; padding-top:21px;}
}

@media screen and (max-width:456px){
.sub_content_section4 h3{line-height:130%; padding:0 0 0 10px;}
.sub_content_section4 h3 br{display:block;}
}

@media screen and (max-width:380px){
.sub_content_section4 h3{font-size:20px;}
}

/*sub content section5*/
@media screen and (max-width:1024px){
.sub_content_section5 p{width:70%;}
.sub_content_section5 p br{display:none;}
}

@media screen and (max-width:942px){
.sub_content_section5 p{width:67%;}
}

@media screen and (max-width:910px){
.sub_content_section5 h3{margin-bottom:20px;}
.sub_content_section5 p{width:100%;}
}

@media screen and (max-width:710px){
.sub_content_section5 p + p img{width:95%;}
}

@media screen and (max-width:680px){
.sub_content_section5{margin-top:21px;}
.sub_content_section5 p{font-size:14px;}
}

@media screen and (max-width:380px){
.sub_content_section5 h3{font-size:20px;}
.sub_content_section5 p + p img{margin:21px auto 0;}
}

/*sub content section6*/
@media screen and (max-width:680px){
.sub_content_section6{margin-top:44px;}
.sub_content_section6 span{margin-bottom:21px;}
.sub_content_section6 h3{margin-bottom:21px;}
.sub_content_section6 p{font-size:14px;}
}

@media screen and (max-width:472px){
.sub_content_section6 h3{padding:0 0 0 10px; line-height:130%;}
.sub_content_section6 h3 br{display:block;}
}

@media screen and (max-width:380px){
.sub_content_section6 h3{font-size:20px;}
}

/*sub content section7*/
@media screen and (max-width:1024px){
.sub_content_section7{margin-top:113px;}
}

@media screen and (max-width:810px){
.sub_content_section7{padding-bottom:50px;}
}

@media screen and (max-width:710px){
.sub_content_section7{padding-bottom:90px;}
}

@media screen and (max-width:680px){
.sub_content_section7 .section7_txt div{width:100%;}
.sub_content_section7 .section7_txt div p{font-size:14px;}
}

@media screen and (max-width:480px){
.sub_content_section7{margin-top:93px;}
.sub_content_section7{padding-bottom:110px;}
}

@media screen and (max-width:432px){
.sub_content_section7{padding-bottom:170px;}
}

@media screen and (max-width:360px){
.sub_content_section7{margin-top:73px;}
.sub_content_section7{padding-bottom:190px;}
}

/*sub content section8*/
@media screen and (max-width:1024px){
.sub_content_section8{margin-top:60px;}
.sub_content_section8 ul{margin-right:2.5%;}
.sub_content_section8 form{width:95%; margin:65px auto 0;}
.sub_content_section8 form div{width:25%;}
.sub_content_section8 form div + div{width:74%;}
}

@media screen and (max-width:810px){
.sub_content_section8{margin-top:30px;}
}

@media screen and (max-width:680px){
.sub_content_section8 ul li img{width:30px;}
.sub_content_section8 form{margin:50px auto 0;}
.sub_content_section8 form div{margin-top:18px;}
.sub_content_section8 form div + div textarea{width:74%;}
.sub_content_section8 form div + div button{font-size:14px;}
}

@media screen and (max-width:420px){
.sub_content_section8{margin-top:20px;}
.sub_content_section8 form div{width:100%;}
.sub_content_section8 form div input{width:48%; float:left;}
.sub_content_section8 form div input + input{float:right;}
.sub_content_section8 form div input:first-child{margin-bottom:0;}
.sub_content_section8 form div + div{width:100%; margin-top:5px;}
.sub_content_section8 form div + div button{height:110px;}
}

/*sub menu*/
@media screen and (max-width:620px){
.sub_category{margin-top:52px; margin-bottom:55px;}
}

@media screen and (max-width:520px){
.sub_category ul li{width:47.5%; margin:0 0.2%; padding: 45px 0;}
.sub_category ul li:nth-child(1),
.sub_category ul li:nth-child(2){margin-bottom:10px;}
}

@media screen and (max-width:420px){
.sub_category{margin-top:42px; margin-bottom:45px;}
}