@charset "utf-8";
.sub_inner{width:922px; margin:0 auto; position:relative;}

/***********visual_sub**************/
.visual_sub{width:100%; overflow:hidden; position:relative;}
.visual_sub > img{overflow:hidden;}
.visual_sub > span{width:100%; overflow:hidden; display:none;}
.visual_sub > span img{overflow:hidden;}
.visual_sub p{position:absolute; font-size:24px; font-family: 'NanumSquare'; color:#fff; bottom:326px; letter-spacing:-1px;}
.visual_sub h2{position:absolute; font-size:48px; font-family: 'NanumSquare'; color:#fff; bottom:200px; font-weight:normal; line-height:130%; letter-spacing:-2px;}

/*********sub content section1*********/
.sub_content_section1{margin-top:32px; overflow:hidden;}
.sub_content_section1 p,
.sub_content_section1 h2{text-align:center;}
.sub_content_section1 h2{font-size:36px; font-weight:normal; font-family: 'NanumSquare'; color:#313131; padding:5px 0;}
.sub_content_section1 p{font-size:18px; color:#707070; font-family:'Malgun Gothic'; letter-spacing:-1px;}
.sub_content_section1 .section1_txt{width:100%; background:#2d79f7; margin-top:44px;}
.sub_content_section1 .section1_txt p{font-size:15px; color:#fff; text-align:left; font-family:'Malgun Gothic'; line-height:140%; padding:42px 0;}

/*********sub content section2************/
.sub_content_section2{margin-top:89px; overflow:hidden;}
.sub_content_section2 span{float:left; margin-bottom:31px;}
.sub_content_section2 h3{float:left; font-weight:normal; font-family: 'NanumSquare'; font-size:24px; color:#005ec7; padding:10px 0 0 10px; margin-bottom:31px;}
.sub_content_section2 p{width:100%;}
.sub_content_section2 p img{width:100%;}
.sub_content_section2 p + p{font-size:15px; color:#2b2b2b; font-family:'Malgun Gothic'; letter-spacing:-1px; line-height:140%; margin-top:31px;}

/*********sub content section3************/
.sub_content_section3{margin-top:61px; overflow:hidden;}
.sub_content_section3 span{display:block; width:39px; height:2px; background:#2f2f2f; margin-bottom:20px;}
.sub_content_section3 h3{float:left; font-size:24px; font-family:'Malgun Gothic'; color:#2a2a2a; font-weight:normal; line-height:130%; letter-spacing:-1px;}
.sub_content_section3 p{float:right; font-size:15px; color:#2b2b2b; font-family:'Malgun Gothic'; letter-spacing:-1px; line-height:140%;}
.sub_content_section3 p + p{float:left; width:67%; margin-top:51px;}
.sub_content_section3 p + p img{width:100%;}
.sub_content_section3 p + p + p{width:32.1%; float:right;}
.sub_content_section3 p + p + p img{width:100%;}

/**********sub content section4************/
.sub_content_section4{background:url(../image/sub/section4_img3.jpg) no-repeat; background-size:cover; height:auto; width:100%; overflow:hidden;}
.sub_content_section4 .sub_inner{margin-top:79px;}
.sub_content_section4 span{float:left;}
.sub_content_section4 h3{float:left; font-weight:normal; font-family: 'NanumSquare'; font-size:24px; color:#005ec7;  padding:10px 0 0 10px;}
.sub_content_section4 h3 br{display:none;}
.sub_content_section4 p{clear:both; font-size:15px; color:#2b2b2b; font-family:'Malgun Gothic'; letter-spacing:-1px; line-height:140%; padding-top:31px;}
.sub_content_section4 p + p{width:100%;}
.sub_content_section4 p + p img{width:100%;}
.sub_content_section4 p + p + p{padding-bottom:31px;}

/***********sub content section5**************/
.sub_content_section5{margin-top:31px; overflow:hidden;}
.sub_content_section5 span{display:block; width:39px; height:2px; background:#2f2f2f; margin-bottom:20px;}
.sub_content_section5 h3{float:left; font-size:24px; font-family:'Malgun Gothic'; color:#2a2a2a; font-weight:normal; line-height:130%; letter-spacing:-1px;}
.sub_content_section5 p{float:right; font-size:15px; color:#2b2b2b; font-family:'Malgun Gothic'; letter-spacing:-1px; line-height:140%;}
.sub_content_section5 p + p{width:100%;}
.sub_content_section5 p + p img{display:block; margin:31px auto 0;}

/***********sub content section6*************/
.sub_content_section6{margin-top:64px; overflow:hidden;}
.sub_content_section6 span{float:left; margin-bottom:31px; overflow:hidden;}
.sub_content_section6 h3{float:left; font-weight:normal; font-family: 'NanumSquare'; font-size:24px; color:#005ec7;  padding:10px 0 0 10px; margin-bottom:31px;}
.sub_content_section6 h3 br{display:none;}
.sub_content_section6 p{width:100%; font-size:15px; color:#2b2b2b; font-family:'Malgun Gothic'; letter-spacing:-1px; line-height:140%;}
.sub_content_section6 p img{width:100%;}
.sub_content_section6 p + p{margin-top:31px;}

/************sub content section7**************/
.sub_content_section7{position:relative; overflow:hidden; padding-bottom:20px; margin-top:143px; height:auto;}
.sub_content_section7 img{width:100%;}
.sub_content_section7 .section7_txt{width:100%; height:auto; position:absolute; bottom:0;}
.sub_content_section7 .section7_txt div{width:70%; background:#fff; margin:0 auto;}
.sub_content_section7 .section7_txt div p{padding:20px; font-size:15px; color:#2b2b2b; font-family:'Malgun Gothic'; letter-spacing:-1px; line-height:140%;}

/*********sub content section8****************/
.sub_content_section8{margin-top:80px; overflow:hidden;}
.sub_content_section8 ul{float:right;}
.sub_content_section8 ul li{display:inline-block; padding:0 1px;}
.sub_content_section8 form{width:100%; margin-top:65px; border-top:1px solid #ddd;}
.sub_content_section8 form div{width:258px; float:left; margin-top:24px;}
.sub_content_section8 form div input{width:98%; height:46px;}
.sub_content_section8 form div input:first-child{margin-bottom:11px;}
.sub_content_section8 form div + div{width:926px; float:right;}
.sub_content_section8 form div + div textarea{width:75%; height:105px;}
.sub_content_section8 form div + div button{width:23%; height:109.5px; float:right; border:1px solid #ddd; cursor:pointer; background:#dcdcdc; font-size:16px; color:#323232;}

/************sub category******************/
.sub_category{margin-top:62px; margin-bottom:65px;}
.sub_category ul{width:97%; text-align:center; margin:0 auto;}
.sub_category ul li{display:inline-block; border:1px solid #c7c7c7; width:23%; margin:0 0.2%; padding: 45px 0; transition: All 0.4s ease; color:#4b4b4b; font-family:'Malgun Gothic'; cursor:pointer; font-size:14px;}
.sub_category ul li:hover,
.sub_category ul li.active{background:#2c65f8; color:#fff;}
