@charset "utf-8";

body{overflow-x:hidden;}
article.article{overflow:hidden;}
.inner{width:95%; margin:0 auto; position:relative;}


/*header*/
header{width:100%; background:url(../image/header_back.jpg) repeat-x;}
.inner_header{height:79px; border-bottom:1px solid #ddd; position:relative;}
.inner_header .sch_box{position:absolute; width:100%; height:70px; top:80px; display:none; background:#efefef; z-index:9;}
.inner_header .sch_box form{padding-top:18px;}
.inner_header .sch_box form input{width:80%;}
.inner_header .sch_box form button{width:18%; float:right; padding:8px 0; border:0; background:#ee4977; color:#fff; margin-top:2px;}
.inner_header .inner h1{text-align:center; padding-top:35px;}
.inner_header .inner .menu-trigger{position:absolute; left:0; top:48px; z-index:999;}
.inner_header .inner a.home{top:40px; left:76px; position:absolute;}
.inner_header .inner a.sch{position:absolute; top:40px; right:76px; cursor:pointer;}
.inner_header .inner a.buy{position:absolute; top:40px; right:0;}

/*visual*/
.visual{width:100%; overflow:hidden;}
.visual img{width:100%;}

/*content section1*/
.main_content_section1{margin-top:48px; border-bottom:1px solid #ddd; overflow:hidden;}
.main_content_section1 .tit{width:100%; height:46px; background:#efeeee; border-bottom:1px solid #ddd;}
.main_content_section1 .tit h2{ font-family:'Malgun Gothic'; padding:15px 0 0 10px; letter-spacing:-1px; font-size:18px; color:#2c2c2c;}
.main_content_section1 .tit p{position:absolute; font-family:'Malgun Gothic'; font-size:14px; color:#585757; top:16px; right:10px;}

.main_content_section1 .bx-wrapper .bx-prev,
.main_content_section1 .bx-wrapper .bx-next{display:none;}
.main_content_section1 div{width:70%; margin:0 auto;}
.main_content_section1 div > div{float:left; width:50%; cursor:pointer;}
.main_content_section1 div > div + div + div{margin-bottom:50px;}
.main_content_section1 div > div p{text-align:center; padding:20px 0 5px 0;}
.main_content_section1 div > div p img{margin:0 auto;}
.main_content_section1 div > div p + p{font-weight:bold; font-size:14px; color:#393939; font-family:'Malgun Gothic'; padding:5px 0;}
.main_content_section1 div > div p + p + p{font-weight:normal; color:#6a6969;}
.main_content_section1 div > div p + p + p + p{font-size:18px; color:#f6299d;}
.main_content_section1 div > div ul{text-align:center; margin-top:10px;}
.main_content_section1 div > div ul li{display:inline-block; padding:0 7px; width:25px;}
.main_content_section1 .bx-wrapper .bx-pager{bottom:-600px; width:50px; left:45%;}

.main_content_section1 .bx-wrapper .bx-pager.bx-default-pager a {background: #c2c2c2; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; outline: 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
.main_content_section1 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.main_content_section1 .bx-wrapper .bx-pager.bx-default-pager a.active,
.main_content_section1 .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #fca2ca;
}

/*content section2*/
.main_content_section2{margin-top:69px; overflow:hidden;}
.main_content_section2 div{width:100%; cursor:pointer;}
.main_content_section2 div img{width:100%;}
.main_content_section2 div + div{width:100%; margin-top:2.5%;}
.main_content_section2 div + div > div{width:57.5%; float:left; margin:0;}
.main_content_section2 div + div > div + div{width:40%; float:right;}

/*content section3*/
.main_content_section3{width:100%; margin-top:93px; position:relative; overflow:hidden;}
.main_content_section3 img{width:100%;}
.main_content_section3 a{position:absolute; top:5%; right:5%; font-size:24px; color:#fb7ab2; font-family:'Malgun Gothic'; }
.main_content_section3 a span img{width:7px;}

/*content section4*/
.main_content_section4{overflow:hidden;}
.main_content_section4 h2,
.main_content_section4 p{text-align:center;}
.main_content_section4 h2{font-size:30px; font-weight:normal;  font-family: 'NanumSquare'; color:#2c2c2c; letter-spacing:-1px; margin:59px 0 25px 0;}
.main_content_section4 div{width:48.5%; float:left; margin-top:24px;}
.main_content_section4 div > a img{width:100%;}
.main_content_section4 div + div{float:right;}
.main_content_section4 div p{font-family:'Malgun Gothic'; font-size:18px; color:#272626; padding:14px 0; line-height:130%; letter-spacing:-1px;}
.main_content_section4 div p span{vertical-align:middle;}
.main_content_section4 div p span img{width:22px;}
.main_content_section4 div p + p{color:#1a1a1a; font-weight:bold; font-size:16px; padding:0;}
.main_content_section4 div p + p + p{font-size:14px; color:#545252; padding:5px 0 10px 0; font-weight:normal;}
.main_content_section4 ul{text-align:center;}
.main_content_section4 ul li{display:inline-block; vertical-align:middle; font-size:14px; font-weight:bold;}
.ellipsis{width:100%; display:inline-block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

/*center*/
.center{overflow:hidden; background:#efeeee; margin-top:65px;}
.center div{width:100%; background:#fff; border-bottom:1px solid #ddd; margin-top:16px; position:relative;}
.center div p.icon{position:absolute; display:block; left:2%; top:5px;}
.center div p.icon img{width:50px;}
.center div p + p{padding-left:90px; font-family:'Malgun Gothic'; font-size:18px; color:#242424; padding-top:13px;}
.center div p + p + p{font-size:14px; color:#595959; padding-top:5px; padding-bottom:22px;}
.center div p + p + p + p{position:absolute; right:14px; top:23px;}
.center div + div{margin:0;}
.center div + div + div + div{margin-bottom:16px;}

/* footer*/
.footer{margin-top:34px; overflow:hidden;}
.footer .top_footer{border-top:1px solid #ddd; height:42px;}
.footer .top_footer p{float:left; font-size:14px; font-family:'Malgun Gothic'; font-weight:bold; color:#2a2a2a; padding-top:13px;}
.footer .top_footer p.plus{position:absolute; right:0; top:0;}
.footer .top_footer .banner{float:left; width:360px; margin-top:13px; margin-left:20px;}
.footer .top_footer .banner ul li a{font-size:14px; font-family:'Malgun Gothic'; color:#4a4949;}
.footer .footer_inner{background:#e7e7e7; height:auto;}
.footer .footer_inner ul{text-align:center;}
.footer .footer_inner ul li{display:inline-block;}
.footer .footer_inner ul.footer_icon li{padding:0 3px;}
.footer .footer_inner p{text-align:center; font-size:14px; font-family:'Malgun Gothic'; color:#3d3d3d; line-height:140%; padding-top:15px;}
.footer .footer_inner ul.btn li{border:1px solid #7f7f7f; padding:4px; margin-top:19px;}
.footer .footer_inner ul.btn li a{font-size:12px;}

.footer .footer_inner ul li{padding:26px 2px 16px 2px;}
.footer .footer_inner ul li a{font-size:14px; font-family:'Malgun Gothic'; color:#3d3d3d;}
.footer .footer_inner p img{padding-bottom:19px;}
.bold{font-weight:bold;}
