@charset "utf-8";
#wrap{width:100%;}

/*header*/
.header{width:100%; height:136px; background:url(../image/header_img.jpg) repeat-x;}
.header .inner_header{width:1200px; margin:0 auto; position:relative;}
h1{position:absolute; top:20px; left:616px;}
.header .inner_header ul.top_section{font-family:"Malgun Gothic"; position:absolute; top:40px; right:0; }
.header .inner_header ul.top_section li{display:inline-block; color:#292929; font-size:14px;}

/*footer*/
.footer{overflow:hidden; width:100%; height:160px; background:url(../image/footer_img.jpg)repeat-x; }
.footer .inner_footer{width:1200px; height:160px; margin:0 auto;}
.footer .inner_footer .footer_menu{position:relative; width:100%; height:41px;}
.footer .inner_footer .footer_menu ul{display:block; position:absolute; top:0; left:250px;}
.footer .inner_footer .footer_menu ul li{display:inline-block; padding:14px 25px; font-family:"NanumSquare"; color:black; font-size:14px;}
.footer .inner_footer .footer_menu ul li a{color:#333333;}

.footer .inner_footer .footer_logo{position:relative; width:238px; height:119px; float:left;}
.footer .inner_footer .footer_logo a{position:absolute; display:block; top:45px; left:41px;}

.footer .inner_footer .copy{width:800px; height:119px; float:left;}
.footer .inner_footer .copy p{color:#fff; font-size:12px; font-family:"Malgun Gothic"; line-height:15px; padding-top:41px;}

.footer .inner_footer .footer_icon{position:relative; width:162px; height:119px; float:right;}
.footer .inner_footer .footer_icon ul{position:absolute; top:55px; right:29px;}
.footer .inner_footer .footer_icon ul li{display:inline-block; vertical-align:middle;}

/*visual*/
#visual{width:100%;}

/*content wrap*/
.content_wrap{width:100%;}

/*page_inner*/
.page_inner{width:1200px; margin:0 auto;}

/*page1*/
.content_wrap .page1{overflow:hidden; width:100%; height:740px; background:#f3f3f3;}
.content_wrap .page1 .page_inner h2{text-align:center; margin-top:89px; margin-bottom:33px; color:#1a1a1a; font-size:30px;   font-family: 'Nanum Myeongjo'; font-weight:normal;}
.content_wrap .page1 .page_inner span.line{display:block; width:48px; border-bottom:1px solid #1a1a1a; margin:0 auto;}
.content_wrap .page1 .page_inner  ul.menu{display:block; overflow:hidden; width:270px; height:369px; border:1px solid #ddd; float:left; margin-top:73px; margin-right:26px; background:#fff;}
.content_wrap .page1 .page_inner  ul.menu:last-child{margin-right:0;}
.content_wrap .page1 .page_inner  ul.menu{background:url(../image/main/best_icon.jpg) no-repeat;}
.content_wrap .page1 .page_inner  ul.menu li{padding-left:35px; padding-bottom:18px;}
.content_wrap .page1 .page_inner  ul.menu li p{font-size:14px; font-family:"Malgun Gothic"; color:#626262; line-height:18px;}
.content_wrap .page1 .page_inner  ul.menu li span{background:#ffce22; padding:0 10px;}
.content_wrap .page1 .page_inner  ul.menu li:first-child{padding-top:57px; font-size:16px; color:#212121; font-weight:bold;}
.content_wrap .page1 .page_inner  ul.menu li:last-child{padding-left:75px; color:#141414; font-weight:bold;}

.content_wrap .page1 .page_inner .more_btn{width:217px; height:44px; margin:0 auto; margin-top:500px;}

/*container*/
.container{position:relative; width:1060px; margin:100px auto;}
.container span{display:block; width:37px; border-bottom:1px solid #fff; margin-top:29px; margin-left:15px;}
.container h2{font-size:52px; color:#fff; font-family:"NanumSquare"; font-weight:lighter; margin-top:29px; margin-left:15px; line-height:110%;}
.container h3{font-family:"Nanum Gothic";}
.container ul li,
.container p{font-family:"Malgun Gothic";}

.inner{position:absolute; z-index:999;}

/*page2*/
.content_wrap .page2{overflow:hidden; width:100%; height:845px; background:url(../image/main/page2_back.jpg) no-repeat; }
.content_wrap .page2 .page_inner .container .box1{width:217px; height:217px; top:0; left:0;}

.content_wrap .page2 .page_inner .container .box2{width:217px; height:217px; top:217px; left:0; background:#ff542d;}
.content_wrap .page2 .page_inner .container .box2 ul li{color:#fff; padding:5px 20px; line-height:18px; font-size:14px;}
.content_wrap .page2 .page_inner .container .box2 ul li h3{font-size:20px; padding-top:20px;}

.content_wrap .page2 .page_inner .container .box3{width:425px; height:427px; top:14px; left:217px; background:url(../image/main/store.jpg) no-repeat;}

.content_wrap .page2 .page_inner .container .box4{width:217px; height:217px; top:14px; left:636px; background:#fff;}
.content_wrap .page2 .page_inner .container .box4 h3{color:#313131; font-size:20px; padding-top:20px; padding-left:20px;}
.content_wrap .page2 .page_inner .container .box4 p{color:#313131; padding:5px 20px; line-height:18px; font-size:14px;}
.content_wrap .page2 .page_inner .container .box4 p img{position:absolute; right:20px; bottom:20px;}

.content_wrap .page2 .page_inner .container .box5{width:217px; height:217px; top:231px; left:854px; background:#9358ff;}
.content_wrap .page2 .page_inner .container .box5 ul li{color:#fff; font-size:14px; padding:2px 7px}
.content_wrap .page2 .page_inner .container .box5 ul li h3{font-size:20px; padding-left:15px; padding-top:20px; padding-bottom:10px; line-height:110%;}
.content_wrap .page2 .page_inner .container .box5 ul li h3 a{color:#fff;}
.content_wrap .page2 .page_inner .container .box5 p img{position:absolute; right:20px; bottom:20px;}


.content_wrap .page2 .page_inner .container .box6{width:420px; height:217px; top:434px; left:0;}
.content_wrap .page2 .page_inner .container .box6 h3{float:right; text-align:right; padding-top:20px; padding-right:20px; font-size:30px; line-height:110%; font-weight:normal;}
.content_wrap .page2 .page_inner .container .box6 h3 a{color:#ffd744;}
.content_wrap .page2 .page_inner .container .box6 p{float:right; text-align:right; color:#fff; padding-top:15px; padding-right:20px; line-height:18px; font-size:14px;}

.content_wrap .page2 .page_inner .container .box7{width:217px; height:217px; top:434px; left:420px; background:#f7ae47;}
.content_wrap .page2 .page_inner .container .box7 p img{position:absolute; right:0px; bottom:0px;}
.content_wrap .page2 .page_inner .container .box7 p{color:#fff; padding:20px 20px; line-height:18px; font-size:14px;}


.content_wrap .page2 .page_inner .container .img{position:absolute; left:589px; top:388px;}

/*page3*/
.content_wrap .page3{overflow:hidden; width:100%; height:845px; background:url(../image/main/page3_back.jpg) no-repeat;}
.content_wrap .page3 .page_inner .container .box7{width:217px; height:217px; top:0; left:0;}

.content_wrap .page3 .page_inner .container .box8{width:217px; height:217px; top:217px; left:0; background:#ffff70;}
.content_wrap .page3 .page_inner .container .box8 ul li{color:#383838; padding:5px 20px; line-height:18px; font-size:14px;}
.content_wrap .page3 .page_inner .container .box8 ul li h3{font-size:20px; padding-top:20px;}

.content_wrap .page3 .page_inner .container .box9{width:425px; height:427px; top:14px; left:217px; background:url(../image/main/img6.jpg) no-repeat;}

.content_wrap .page3 .page_inner .container .box10{width:220px; height:349px; top:83px; left:637px; background:#55d2ed;}
.content_wrap .page3 .page_inner .container .box10 ul{display:block; width:210px; margin:20px 5px;}
.content_wrap .page3 .page_inner .container .box10 ul li h3{font-size:20px;}
.content_wrap .page3 .page_inner .container .box10 ul li {color:#1e1e1e; font-size:14px; border-bottom:1px solid #92d1f8; padding:8px 0; line-height:18px;}
.content_wrap .page3 .page_inner .container .box10 ul li:last-child{border:0;}
.content_wrap .page3 .page_inner .container .box10 ul li a{padding-bottom:10px;}
.content_wrap .page3 .page_inner .container .box10 ul li span{border:0; width:210px; font-size:14px; margin-left:0; margin-top:10px;}
.content_wrap .page3 .page_inner .container .box10 ul li span a{float:right;}

.content_wrap .page3 .page_inner .container .box11{width:434px; height:217px; top:433px; left:0;}

.content_wrap .page3 .page_inner .container .box12{width:444px; height:217px; top:433px; left:423px;}
.content_wrap .page3 .page_inner .container .box12 h3{float:right; text-align:right; padding-top:20px; padding-right:20px; font-size:30px; line-height:110%; font-weight:normal; color:#ffd744;}
.content_wrap .page3 .page_inner .container .box12 p{float:right; text-align:right; color:#fff; padding-top:15px; padding-right:20px; line-height:18px; font-size:14px;}

.content_wrap .page3 .page_inner .container .box13{width:217px; height:217px; top:433px; left:857px; background:#85df7e;}
.content_wrap .page3 .page_inner .container .box13 ul li{color:#383838; padding:5px 20px; line-height:18px; font-size:14px;}
.content_wrap .page3 .page_inner .container .box13 ul li h3{font-size:20px; padding-top:20px;}

.content_wrap .page3 .page_inner .container .img{position:absolute; right:20px; top:37px;}

/*page4*/
.content_wrap .page4{overflow:hidden; width:100%; height:747px; background:#f3f3f3;}
.content_wrap .page4 .page_inner span{display:block; width:64px; border-bottom:1px solid #2f2f2f; margin:0 auto; padding:15px 0;}
.content_wrap .page4 .page_inner h2{font-size:50px; color:#2f2f2f; font-family:"NanumSquare"; font-weight:lighter; text-align:center; margin:20px 0;}

.content_wrap .page4 .page_inner {position:relative;}
.content_wrap .page4 .page_inner .map{width:100%; height:591px; border:1px solid #ddd; margin:31px 0;}
.content_wrap .page4 .page_inner .map h3{color:#e8b400; margin-left:85px; font-weight:normal;}
.content_wrap .page4 .page_inner .map .geo{width:677px; height:279px; margin:44px 78px;}
.content_wrap .page4 .page_inner ul.selection{position:absolute; display:block; width:319px; top:178px; right:80px;} 
.content_wrap .page4 .page_inner ul.selection li{border-bottom:1px solid #ddd; text-align:center; padding:20px; font-size:15px; cursor:pointer;}
.content_wrap .page4 .page_inner ul.selection li a{color:#393939;}
.content_wrap .page4 .page_inner ul.selection li.select,
.content_wrap .page4 .page_inner ul.selection li:hover{background:#ffce22; font-size:20px; padding:25px;}
.content_wrap .page4 .page_inner ul.selection li:last-child{border:0;}

.content_wrap .page4 .page_inner div .info{width:900px; height:190px; margin-left:70px;}
.content_wrap .page4 .page_inner div .info tr td{font-size:14px; line-height:18px; color:#404040; font-family:"Malgun Gothic";}

