@charset "utf-8";
/*nav*/
/*네비게이션 전체*/
.nav {position:absolute; top:80px; left:145px;}
.nav ul li{font-family:"NanumSquare";font-size:16px;}
.topnav{ text-align:center; width:100px; height:17px; cursor:pointer; font-size:16px; padding:14px 17px; color:#222; display:inline-block;}
.navi_set{float: left; padding:10px;	position: relative;}
.navi_set .subnav li{font-size:14px; font-family:"Malgun Gothic"; }

/*subnav*/
.subnav{position: absolute; left: 0; top: 56px; background:#ffce22; display: none; z-index:999;}
.subnav li, .subnav li a{padding:12px; width:134px; text-align:center; cursor:pointer; color:#222;}
.subnav li:hover{ background:#fff; color:#222;}

